<div class="card" >
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header" id="cardHead" style="background-color: rgba(0,38,73,0.67);"><h5>User Contracts</h5></div>
                        <div class="card-body" style="overflow-y: scroll;height: 350px;">
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card ">
                        <div class="card-header" style="background-color: rgba(0,38,73,0.67);"></div>
                        <div class="card-body" style="height: 219px;"></div>
                    </div>
                    <div class="card ">
                            <div class="card-header" style="background-color: rgba(0,38,73,0.67);"></div>
                            <div class="card-body" style="height: 119px;"></div>
                        </div>
                </div>
                
                <div class="col-md-12">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header" id="cardHead" style="height:50px;">
                            <h5 style="color: white;">Other Customers</h5>
                        </div>
                        <div class="card-body" style="height: 220px;margin: 14px;overflow-x: scroll;overflow-y:hidden;">
                            <ui-view></ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>