<div class="login-clean" >
        <form method="post" style="border:2px solid  rgb(173,152,42);">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="color:rgb(220,176,20);"></i>
                <h2 style="color:rgb(203,144,29);font-weight:bold;font-size: 14px;">NS Creative</h2></div>
           
            <div class="form-group">
                <input type="username" name="username" placeholder="username" ng-model="authLoginController.user.username" class="form-control" />
            </div>
            <div class="form-group">
                <input type="password" name="username" placeholder="Password" ng-model="authLoginController.user.password" class="form-control" />
            </div>
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" ng-click="authLoginController.onLogin()" style="background-color:rgb(210,177,8);">Log In</button>
            </div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>