<div>
    <h4>{{ sFile.filename }}</h4>
      <div ng-if="isPic()">
        <div class="card" style="width: 18rem;">
            <img src="{{ trustSrc(sFile.src) }}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
       
    </div>
    <div ng-if="isVid()">
        this is a video placeholder
       
        <iframe width="100%" height="315" src="{{ trustSrc(sFile.src) }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
    </div>
</div>